body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 40px;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  width: 200px;
  height: 200px;
}

button {
  margin: 10px 0;
}
